# Artificial Neural Network

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Part 1 - Data Preprocessing

#### Importing the dataset

In [2]:
dataset = pd.read_csv('BankCustomers.csv')

In [3]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [8]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

#### Convert categorial feature into dummy variables

In [9]:
states=pd.get_dummies(X['Geography'],drop_first=True)

In [10]:
states

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [11]:
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [12]:
gender

      Male
0        0
1        0
2        0
3        0
4        0
...    ...
9995     1
9996     1
9997     0
9998     1
9999     0

[10000 rows x 1 columns]

#### Concaternate the remaining dummies columns

In [13]:
X=pd.concat([X,states,gender],axis=1)

In [14]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0

#### Drop the columns as it is no longer required

In [15]:
X= X.drop(['Geography','Gender'],axis=1)

In [16]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

 #### Splitting the dataset into the Training set and Test set

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature Scaling

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Part 2 - Now let's make the ANN!

#### Importing the Keras libraries and packages

In [19]:
import keras
from keras.models import Sequential
from keras.layers import Dense

#### Initialising the ANN

In [20]:
classifier = Sequential()

#### Adding the input layer and the first hidden layer

In [21]:
classifier.add(Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform"))

#### Adding the second hidden layer

In [22]:
classifier.add(Dense(activation="relu", units=6, kernel_initializer="uniform"))

#### Adding the output layer

In [23]:
classifier.add(Dense(activation="sigmoid", units=1, kernel_initializer="uniform"))

#### Compiling the ANN

In [24]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

#### Fitting the ANN to the Training set

In [26]:
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
800/800 [==============================] - 4s 3ms/step - loss: 0.4808 - accuracy: 0.7956
Epoch 2/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4235 - accuracy: 0.7960
Epoch 3/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4199 - accuracy: 0.8050
Epoch 4/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.8259
Epoch 5/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4110 - accuracy: 0.8253
Epoch 6/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4030 - accuracy: 0.8304
Epoch 7/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3937 - accuracy: 0.8309
Epoch 8/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3856 - accuracy: 0.8365
Epoch 9/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3799 - accuracy: 0.8419
Epoch 10/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3766 - accuracy: 0.8454
Epoch 11/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3725 - accuracy: 0.8491
Epoch 12/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3699 - accuracy: 0.8491
Epoch 13/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3683 - accuracy: 0.8503
Epoch 14/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3649 - accuracy: 0.8500
Epoch 15/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3648 - accuracy: 0.8503
Epoch 16/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3628 - accuracy: 0.8520
Epoch 17/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3619 - accuracy: 0.8543
Epoch 18/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3600 - accuracy: 0.8536
Epoch 19/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3602 - accuracy: 0.8528
Epoch 20/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3594 - accuracy: 0.8535
Epoch 21/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3576 - accuracy: 0.8554
Epoch 22/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3566 - accuracy: 0.8566
Epoch 23/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3563 - accuracy: 0.8539
Epoch 24/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3558 - accuracy: 0.8540
Epoch 25/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3544 - accuracy: 0.8580
Epoch 26/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3545 - accuracy: 0.8555
Epoch 27/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3536 - accuracy: 0.8575
Epoch 28/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3532 - accuracy: 0.8560
Epoch 29/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3529 - accuracy: 0.8560
Epoch 30/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3529 - accuracy: 0.8568
Epoch 31/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3515 - accuracy: 0.8577
Epoch 32/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3530 - accuracy: 0.8565
Epoch 33/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3514 - accuracy: 0.8591
Epoch 34/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3515 - accuracy: 0.8558
Epoch 35/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3506 - accuracy: 0.8570
Epoch 36/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3515 - accuracy: 0.8604
Epoch 37/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3513 - accuracy: 0.8574
Epoch 38/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3515 - accuracy: 0.8555
Epoch 39/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3507 - accuracy: 0.8580
Epoch 40/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3511 - accuracy: 0.8595
Epoch 41/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3510 - accuracy: 0.8570
Epoch 42/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3508 - accuracy: 0.8584
Epoch 43/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3510 - accuracy: 0.8561
Epoch 44/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3499 - accuracy: 0.8602
Epoch 45/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3480 - accuracy: 0.8579
Epoch 46/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3488 - accuracy: 0.8574
Epoch 47/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3485 - accuracy: 0.8583
Epoch 48/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3483 - accuracy: 0.8586
Epoch 49/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3484 - accuracy: 0.8591
Epoch 50/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3477 - accuracy: 0.8586
Epoch 51/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3463 - accuracy: 0.8594
Epoch 52/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3484 - accuracy: 0.8571
Epoch 53/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3464 - accuracy: 0.8599
Epoch 54/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3474 - accuracy: 0.8596
Epoch 55/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3467 - accuracy: 0.8591
Epoch 56/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3468 - accuracy: 0.8590
Epoch 57/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3474 - accuracy: 0.8602
Epoch 58/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3455 - accuracy: 0.8589
Epoch 59/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3449 - accuracy: 0.8593
Epoch 60/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3456 - accuracy: 0.8593
Epoch 61/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3458 - accuracy: 0.8591
Epoch 62/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3453 - accuracy: 0.8590
Epoch 63/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3456 - accuracy: 0.8586
Epoch 64/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3457 - accuracy: 0.8569
Epoch 65/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3446 - accuracy: 0.8595
Epoch 66/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3450 - accuracy: 0.8586
Epoch 67/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3438 - accuracy: 0.8604
Epoch 68/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3442 - accuracy: 0.8600
Epoch 69/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3452 - accuracy: 0.8609
Epoch 70/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3436 - accuracy: 0.8595
Epoch 71/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3442 - accuracy: 0.8590
Epoch 72/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3446 - accuracy: 0.8622
Epoch 73/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3435 - accuracy: 0.8608
Epoch 74/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3438 - accuracy: 0.8594
Epoch 75/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3440 - accuracy: 0.8595
Epoch 76/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3442 - accuracy: 0.8608
Epoch 77/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3434 - accuracy: 0.8633
Epoch 78/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3435 - accuracy: 0.8600
Epoch 79/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3433 - accuracy: 0.8597
Epoch 80/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3425 - accuracy: 0.8620
Epoch 81/100

800/800 [==============================] - 2s 3ms/step - loss: 0.3427 - accuracy: 0.8595
Epoch 82/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3426 - accuracy: 0.8587
Epoch 83/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3426 - accuracy: 0.8611
Epoch 84/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3415 - accuracy: 0.8611
Epoch 85/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3431 - accuracy: 0.8585
Epoch 86/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3421 - accuracy: 0.8589
Epoch 87/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3421 - accuracy: 0.8602
Epoch 88/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3418 - accuracy: 0.8606
Epoch 89/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3420 - accuracy: 0.8612
Epoch 90/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3415 - accuracy: 0.8585
Epoch 91/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3412 - accuracy: 0.8595
Epoch 92/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3419 - accuracy: 0.8590
Epoch 93/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3409 - accuracy: 0.8589
Epoch 94/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3415 - accuracy: 0.8608
Epoch 95/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3411 - accuracy: 0.8615
Epoch 96/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3394 - accuracy: 0.8601
Epoch 97/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3408 - accuracy: 0.8577
Epoch 98/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3411 - accuracy: 0.8604
Epoch 99/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3407 - accuracy: 0.8618
Epoch 100/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3404 - accuracy: 0.8601

## Part 3 - Making the predictions and evaluating the model

#### Predicting the Test set results

In [27]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

63/63 [==============================] - 0s 2ms/step

#### Making the Confusion Matrix

In [29]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
accuracy=accuracy_score(y_test,y_pred)

In [30]:
cm

array([[1510,   85],
       [ 192,  213]], dtype=int64)

In [31]:
accuracy

0.8615